h1 {
    color:rgb(14, 216, 223);
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:rgb(255, 217, 0) ;
    text-align: center;
    border-radius: 15px;
    padding: 9px;
}

p{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

h2{
    color: rgb(255, 110, 6);
    font-size: 35px;
 
}

h3{
    color: rgb(255, 217, 0);
    font-size: 25px;
}

img{
    border-radius: 15px;
}

a{
    text-decoration: none;
    background: rgb(255, 110, 6);
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 20px;
    padding: 7px;
    border-radius: 15px;
    
}

body{
    background-color: rgb(248, 246, 242);
}
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(248, 246, 246);

}

header{

width: 1000px;
margin: 0 auto;
}
